ALCHEMY_SEPOLIA_URL=<your_sepolia_rpc_url>
WALLET_ADDRESS=<your_public_wallet_address>
PRIVATE_KEY=<never-commit-real-key>
USDC_CONTRACT_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
EURC_CONTRACT_ADDRESS=0x08210F9170F89Ab7658F0B5E3fF39b0E03C594D4
